## Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env.local

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Python
__pycache__/
*.py[cod]
*.pyd
.Python
pyvenv.cfg
Include/
Lib/
Scripts/
.venv/
venv/
ENV/
env/

## OS / Editor
.DS_Store
Thumbs.db
.vscode/

